.img-profile {
    height: 4rem;
    width: 4rem
}
.rounded-circle {
    border-radius: 50%
}
.btn-primary {
    color: #fff;
    background-color: #000000 !important;
    border-color: #000000 !important;
    border-radius: unset !important;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
}

.text-primary {
    color: #000000!important;
}
.sidebar-dark .nav-item .nav-link {
    color: rgb(255 255 255 / 80%);
    font-weight: 700;
    font-size: 28px;
  }